h1 {
	text-align: center;
	font-size: 1em;
	color: #009;
	margin-bottom: .3em;
	text-decoration: underline;
}

body {
	display: inline;
	background-color: #e6e6ff; /* Цвет фона веб-страницы */
}

.user_photo {
	padding: 20px; /* Поля */
	background: #E5D3BD; /* Цвет фона */
	border: 2px solid #E81E25; /* Параметры рамки */
	width: 30%;
}

.main_user_info {
	
	padding: 20px; /* Поля */
	background: green; /* Цвет фона */
	border: 2px solid #E81E25; /* Параметры рамки */
	width: 30%;
	 text-align: right;
	 font: bold italic 110% serif;
	
}